---
import Layout from "../layouts/Layout.astro"
---
<Layout>
	<header>
		<h2>henlo</h2>
		<p>it's NECOdes, im a dev</p>
	</header>
	<ul class="flex space-x-3 divide-x-1 divide-zinc-300">
		<li class="pr-3"><a href="https://sakura_matou.t.me">telegram</a></li>
		<li class="pr-3"><a href="https://github.com/NECOtype">github</a></li>
		<li class="pr-3"><a href="https://gitlab.com/NECOdes">gitlab</a></li>
		<li><a href="https://gitlab.com/NECOdes.gpg">pgp</a></li>
	</ul>
</Layout>