* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--background: #181616;
	--foreground: #c5c9c5;
	--black: #0d0c0c;
	--red: #c4746e;
	--green: #8a9a7b;
	--yellow: #c4b28a;
	--blue: #8ba4b0;
	--magenta: #a292a3;
	--cyan: #8ea4a2;
	--lightwhite: #c5c9c5;
	--hlBackground: #2d4f67;
	--hlForeground: #c8c093;
}

:root {
	--font-head: var(--font-instrument), serif;
	--font-body: var(--font-im-fell), serif;
}

body,
html {
	height: 100%;
}

body {
	background-color: var(--background);
	color: var(--foreground);
}

a {
	text-decoration: underline;
	color: var(--blue);
	&:hover { color: var(--yellow);
}

h2 {
	font-weight: bold;
}