---
import Font from "astro/components/Font.astro";
import Head from "../components/Head.astro";
import "../global.css";

const { title } = Astro.props;
---
<html lang="en">
	<Head>
		<title>{title}</title>
		<Font cssVariable="--font-im-fell" preload />
		<Font cssVariable="--font-instrument" preload />
		<Font cssVariable="--font-im-fell-great" preload />
	</Head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		display: grid;
		place-items: center;
	}
</style>