---
import Head from "../components/Head.astro";

const { title } = Astro.props;
---
<html lang="en">
	<Head>
		<title>{title}</title>
	</Head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
:root {
	color-scheme: light dark;

	--font-head: var(--font-instrument);
	--font-body: var(--font-im-fell);

	--background: light-dark(#faf4ed, #181616);
	--foreground: light-dark(#575279, #c5c9c5);

	--black: light-dark(#faf4ed, #0d0c0c);
	--red: light-dark(#b4637a, #c4746e);
	--green: light-dark(#56949f, #8a9a7b);
	--yellow: light-dark(#ea9d34, #c4b28a);
	--blue: light-dark(#286983, #8ba4b0);
	--magenta: light-dark(#907aa9, #a292a3);
	--cyan: light-dark(#56949f, #8ea4a2);
	--lightwhite: light-dark(#f4ede8, #c5c9c5);
	--hlBackground: light-dark(#286983, #2d4f67);
	--hlForeground: light-dark(#faf4ed, #c8c093);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: var(--font-body);
}

body {
	display: grid;
	place-items: center;
	background-color: var(--background);
	color: var(--foreground);
}

</style>