---
import "@/styles/global.css";
import { Font } from "astro:assets";

let { title, description } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/gif" href="/chaos-walk.gif" />
		<meta name="viewport" content="width=device-width, initial-sclae=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="og:url" content={Astro.url} />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />
		<Font cssVariable="--font-im-fell" preload />
		<Font cssVariable="--font-zt-formom" preload />
		<title>{ title }</title>
	</head>
	<body>
		<div id="app">
			<slot />
		</div>
	</body>
</html>

<style>
#app {
	display: grid;
	place-items: center;
	background-color: var(--background);
	color: var(--foreground);
	height: 100vh;
}

</style>